.navbar {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    padding-top: 40px;
    padding-bottom: 20px;
}

.hamburger-menu {
    position: absolute;
    font-size: 0px;
    visibility: hidden;

}

.responsive-menu {
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.nav-list {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: 'Open Sans';
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: -20px;
    position: relative;
}

.nav-item {
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
    outline: none;
}

 .logo-image {
    width: 60px;
} 

@media screen and (max-width: 811px) {
    .navbar {
        visibility: hidden;
    }

    .logo-image {
        visibility: visible;
        position: absolute;
        left: 10%;
        top: 3%;
        width: 70px;
    }
    .hamburger-menu {
        position: absolute;
        right: 8%;
        top: 65%;
        font-size: 30px;
        visibility: visible;
        color: black;
        cursor: pointer;      
    }

}